<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; AppSeed - design by Codedthemes.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a target="_blank" href="https://appseed.gumroad.com/l/devtool-dynamic-django" target="_blank">Purchase</a></li>
          <li class="list-inline-item"><a target="_blank" href="https://appseed.us/support/" target="_blank">Support</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
