<script>
    document.addEventListener('DOMContentLoaded', function () {

      var options = {
          series: {{ data|safe }},
          chart: {
          height: 350,
          type: 'radialBar',
          offsetY: -10
        },
        title: {
          text: '{{ chart.description|safe }}',
          align: 'left',
          margin: 10,
          offsetX: 0,
          offsetY: 0,
          floating: false,
          style: {
            fontSize: '24px',
            color: '#BADA55'
          },
        },        
        plotOptions: {
          radialBar: {
            startAngle: -135,
            endAngle: 135,
            dataLabels: {
              name: {
                fontSize: '16px',
                color: undefined,
                offsetY: 120
              },
              value: {
                offsetY: 76,
                fontSize: '22px',
                color: undefined,
                formatter: function (val) {
                  return val + "%";
                }
              }
            }
          }
        },
        fill: {
          type: 'gradient',
          gradient: {
              shade: 'dark',
              shadeIntensity: 0.15,
              inverseColors: false,
              opacityFrom: 1,
              opacityTo: 1,
              stops: [0, 50, 65, 91]
          },
        },
        stroke: {
          dashArray: 4
        },
        labels: {{ labels|safe }},
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

    });
  </script>